<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- load properties file -->
	<context:property-placeholder
		location="classpath:sport.properties" />

	<!-- if scope is not defined, then it is singleton -->
	<bean id="fortuneService"
		class="com.core.spring.app.HappyFortuneService" scope="singleton" />

	<!-- constructor injection -->
	<bean id="baseball" class="com.core.spring.app.BaseBallCoach">
		<constructor-arg ref="fortuneService" />
	</bean>
	<bean id="track" class="com.core.spring.app.TrackCoach"
		init-method="init" destroy-method="destroy">
		<constructor-arg ref="fortuneService" />
	</bean>

	<!-- setter injection reading, value from properties file -->
	<bean id="cricket" class="com.core.spring.app.CricketCoach">
		<property name="fortuneService" ref="fortuneService" />
		<property name="team" value="${team}" />
		<property name="emailAddress" value="${email}" />
	</bean>

</beans>
